<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Book Event Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet.css') }}">
</head>

<html>
<body>
    <div>
        <form action="{{ url_for('cancel_event')}}">
            <h2>Cancel Event</h2>
            <h3>Event Name (Required)</h3>
            <input type="text" name="cancel_event_name" />
            <h3>Event ID (Required)</h3>
            <input type="text" name="cancel_event_id">
            <br>
            <br>
            <input type="submit" value="Cancel This Event" />
        </form>
    </div>
    <button onclick="location.href = '{{url_for('main')}}';" id="main_button" class="button button1">Return to Main Page</button>
    <body>
</html>