<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Cancel Participant Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet.css') }}">
</head>

<html>
<body>
    <div>
        <form action="{{ url_for('cancel_participate')}}">
            <h2>Cancel Signed Participant</h2>
            <h2>Please type in your participant Id and the event name you want to cancel.</h2>
            <h3>Event Name (Required)</h3>
            <input type="text" name="cancel_event_name" />
            <h3>Participate ID (Required)</h3>
            <input type="text" name="cancel_participate_id">
            <br>
            <br>
            <input type="submit" value="Withdraw From This Event" />
        </form>
    </div>
    <button onclick="location.href = '{{url_for('main')}}';" id="main_button" class="button button1">Return to Main Page</button>
    <body>
</html>