<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>New Event</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet.css') }}">
    <style>
        table {
            margin: 3pt;
        }
    </style>
</head>

<body>
    {% for event in events %}
    <table>
        {% for key in event %}
        <tr>
            <td>
                {{ key }}
            </td>

            <td>
                {{ event[key] }}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}

    </table>

    <button onclick="location.href = '{{url_for('main')}}';" id="main_button" class="button button1">Main
        Page</button>
</body>

</html>